# =========================
# Frontend
# =========================
Frontend/node_modules/
Frontend/dist/
Frontend/.env


# =========================
# Backend
# =========================
Backend/**/target/
Backend/**/.env


# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml


# =========================
# VS Code
# =========================
.vscode/


# =========================
# Logs
# =========================
*.log


# =========================
# OS
# =========================
.DS_Store
Thumbs.db